// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
	
	color: #fff;
  font-size: 30px;
  font-weigth: bond;
  font-family: 'shift', sans-shrif;
  border: 3px solid none;
  padding: 23px 10px 23px 10px;
  margin: 23px 10px 23px 10px;
  display: block;
}
