<% @community.each do |community| %>
<tr>
  <td><%= community.name %></td>
  <td><%= community.place %></td>
  <td><%= community.people %></td>
  <td><%= community.social_organisation %></td>
</tr>
<% end %>